.game {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  height: 100vh; 
}

.game-board {
  margin-bottom: 20px; 
  min-height: 150px; 
}

.status {
  margin-bottom: 10px; 
  font-size: 24px; 
}

.square {
  width: 60px; 
  height: 60px; 
  font-size: 24px; 
  border: 1px solid #999;
  background-color: white; 
  cursor: pointer;
}

.square:focus {
  outline: none; 
}

.board-row {
  display: flex; 
  justify-content: center; 
  margin-bottom: 5px; 
}
